<%- include('../partials/_header.ejs') %>

<h1>New Ticket for Flight <%= flight._id %></h1>
<form action="/flights/<%= flight._id %>/tickets" method="post">
  <div>
    <label for="seat">Seat:</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?" />
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" name="price" min="0" required />
  </div>
  <button type="submit">Create Ticket</button>
</form>

<%- include('../partials/_footer.ejs') %>
