<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Express</h1>
    <p>This is the main landing page for the Mongoose Flights Lab.</p>
    <a href="/flights">View Flights</a><br />
    <a href="/flights/new">Add New Flight</a>
  </body>
</html>
